@model IEnumerable<LoginBlog.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        Blog Name : @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogDate)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.BlogId }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.BlogId })
                @*@Html.ActionLink("Delete", "Delete", new { id=item.BlogId })*@
            </td>
        </tr>
    }

</table>
